{% extends "base.html" %}
{% load static %}

{% block content_header %}
<div class="content-header">
<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0">Home</h1>
    </div>
  </div>
</div>
</div>
{% endblock content_header %}

{% block content_main %}
<section class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 text-center">
        <h1 class="title-home">
          SIMATIS!
        </h1>
        <a type="button" class="btn btn-custom btn-med" href="data/">Mulai</a>
      </div>
    </div>
  </div>
</section>
{% endblock content_main %}

